*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-image: url(../../resource/img/background.png);
    background-size: cover;
    font-family: 'Kiwi Maru';
}

.chatbot-header{
    background: rgb(60, 131, 198);
}

.chatbot-right{
    background: #FFC0CB;
}

.chatbot-body{
    background: rgb(60, 131, 198);
}

.choice-title{
    background: #FFC0CB;
}

.personal-item{
    color: #1d1d1d;
    border-radius: 3px;
    margin-bottom: 8px;
    text-align: left;
    padding: 7px 13px;
    font-size: 16px;
    line-height: 1.3em;
    letter-spacing: .05em;
    border: none;
    display: block;
    width: 100%;
}

.choice-button{
    background: #FFC0CB;
}