*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-image: url(../../resource/img/background.png);
    background-size: cover;
    font-family: 'Kiwi Maru';
}

.chatbot-header{
    background: rgb(0, 0, 102)
}

.chatbot-right{
    background: rgb(255, 255, 153);
}

.chatbot-body{
    background: rgb(0, 0, 102)
}

.choice-title{
    background: rgb(255, 255, 153);
}

.choice-button{
    font-family:'Kiwi Maru';
    background: rgb(255, 255, 153);;
}