
body{
    box-sizing: border-box;
    background-image: url(../../resource/img/background.png);
    background-size: cover;
    font-family:'Kiwi Maru';
}

.chatbot-header{
    background: #e7fffd;
}

.chatbot-body{
    background: #e7fffd;
}

.imagebot-left-rounded{
    display: flex;
    margin-left: 10px;
    background: #E6F0F7;
    border-radius: 9px;
    color: #161616;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.imagebot-left-rounded > :not(.imagebot-url):not(.imagebot-underAll) {
    text-align: left;
}

.imagebot-img{
    width: 90%;
    height:40%;
    margin: 5px 5%;
    background: #E6F0F7;
    border: 2px solid #ccc; /* 縁のスタイルと色を指定 */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* 影のスタイルと色を指定 */
}

.imagebot-url{
    display: block;
    margin: 0 auto;
    text-align: center;
}

.chatbot-right{
    background: #ec86b1;
}

.imagebot-tag{
    position: relative;
    top: -6px;
    padding: 0 2px;
    border-radius: 10%;
    margin:0 5px;
    background:rgb(194, 208, 218);
}

.imagebot-tagIcon{
    color: #7e7e7e;
}

.imagebot-likeNum{
    position: relative;
    top: -6px;
    margin:0 5px;
}

.imagebot-likeIcon{
    color: #f091b9;
}

#chatbot-back{
    color:#202020;
}

#chatbot-logo{
    color:#202020;
}

#chatbot-setButton{
    color:#202020;
}

