*{
    margin: 0;
    padding: 0;
}


body{
    box-sizing: border-box;
    background-image: url(../../resource/img/background.png);
    background-size: cover;
    font-family: 'Roboto';

}

/* ホーム画面 */
#homescreen{
    position:fixed;
    background:rgb(97, 194, 161);
    /* background-image: url(../../resource/img/homescreen/IMG_0645.JPG); */
    background-size: cover;
    height: 82vh; 
    width: 500px;
    border-radius: 32px;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    box-sizing: border-box;
    border: 10px solid #4d4d4d;
}

#homescreen-header{
    margin-top: 7px;
}

#homescreen-mobile{
    color: azure;
    position: fixed;
    left: 25%;
    transform: translateX(-50%);

}

#homescreen-back{
    cursor:pointer;
    font-size: 32px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -4px;

}

#homescreen-time{
    color: azure;
    position: fixed;
    left: 75%;
    transform: translateX(-50%);

}

.background-button{
    display: none;

}

#homescreen-ul{
    display: flex;
    margin-top: 10%;
    justify-content: space-around;
    list-style: none;
}

#homescreen-ul > li{
    height:20%;
    width:20%;

}

.app-name{
    color: azure;
    text-align: center;
}

/* アプリ */
.app-icon{
    max-height:100%;
    max-width:100%;

    border-radius: 10px;

    /* アニメーション */
    transition: transform 0.2s ease-in-out;
    
}

/* アプリアイコンが回転するアニメーション */
.app-icon:hover {
    transform: scale(1.1);
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  