
body{
    box-sizing: border-box;
    background-image: url(../../resource/img/background.png);
    background-size: cover;
    font-family:'Kiwi Maru';
}

/* フルスクリーンボタン */
#chatbot-zoom-icon{
    display: block;
    height: 100%;
    line-height: 60px;
    padding:0 20px;
    color: #FFF;
    cursor:pointer;
}

.quizbot-header{
    background: #5b69ae;
}

.quizbot-body{
    background: #5b69ae;
}

.quizbot-right{
    background: #30d649;
}

.quiz-choice-title{
    background: #4cc25e;
}

.quiz-choice-button{
    font-family:'Kiwi Maru';
    background: #4cc25e;
}

#chatbot-zoom-icon:active{
    background: #4d635d;
}





