*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
    box-sizing: border-box;
    background-image: url(../resource/img/background.png);
    font-family:'Noto Sans JP', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#chatbot{
    position:fixed;
    overflow:hidden;
    opacity:1;
    transition: .4s;
    background: #1d1b1b;
    
    /* PC */
    height: 82vh; 
    width: 500px;
    bottom: 0;
    right: 0;
    margin: 0;
    box-shadow: 0px 0 25px -5px #808;
    border-radius: 32px;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    box-sizing: border-box;
    border: 10px solid #4d4d4d;
}

#chatbot-header{
    height: 60px;
    background: #5b69ae;
    position: relative;
    display:flex;
    border-bottom: 0.5px solid;
    border-color: #353d68;
    justify-content: space-around;
    z-index: 1;
}

/* 「AI Chatbot」の部分 */
#chatbot-logo{
    color:#FFF;
    line-height: 60px;
    padding:0 30px;
    font-size: 16px;
}

/* フルスクリーンボタン */
#chatbot-zoom-icon{
    display: block;
    height: 100%;
    line-height: 60px;
    padding:0 20px;
    color: #FFF;
    cursor:pointer;
}

#chatbot-main{
    position:relative;
}

#chatbot-body{
    width: 100%;
    height: calc(80vh - 110px);
    padding-top: 10px;
    background: #5b69ae;
    box-sizing: border-box;
    /* 横スクロール禁止 */
    overflow-x: hidden;
    /* 縦スクロール禁止 */
    overflow-y: scroll;
}

#chatbot-zoom-icon:active{
    background: #4d635d;
}
#chatbot-footer{
    width: 100%;
    height:50px;
    display: flex;
    box-sizing: border-box;
    background: #FFF;
    border-top: 1.5px solid #EEE;
    border-bottom: 2px solid #4242422c;
}
/* 文字を入力する場所 */
#chatbot-text{
    height: 40px;
    width: 72%;
    display: block;
    font-size: 16px;
    box-sizing: border-box;
    padding-left: 10px;
    margin:auto 10px auto 15px;
    background: FFF;
    color: #777;
    border: 0;
    outline: 0;
}

/* スタンプのボタン */
#stamp-submit{
    height: 32px;
    width: 32px;
    margin: 7px 7px;
}

/* 送信ボタン */
#chatbot-submit{
    background:#9c9c9c;
    cursor: pointer;
    height: 35px;
    width: 8%;
    margin: auto;
    margin-right: 15px;
    font-size:28px;
    justify-content: center; /* 水平方向に中央揃え */
    align-items: center; /* 垂直方向に中央揃え */
  
    color: white;
    display: flex;
    /* デフォルトのボーダーを消す */
    border: none;
    box-sizing: border-box;
    border-radius: 18px;
}

#chatbot-ul{
    /* ulのデフォルトの隙間を消す */
    padding: 0;
    list-style: none;
}

#chatbot-ul > li{
    position: relative;
    width: 100%;
    padding-bottom: 10px;
    word-wrap: break-word;
}

#chatbot-ul > li > div {
    display: inline-block;
    box-sizing: border-box;
    min-height: 23px;
    max-width: 70%;
    padding: 7px 13px;
    line-height: 1.3em;
    position: relative;
}

/* 相手の吹き出しのデザイン */
.chatbot-left{
    margin-left: 10px;
    background: #E6F0F7;
    border-radius: 0px 9px 9px 9px;
    color:#161616;
}

.chatbot-left-rounded{
    margin-left: 10px;
    background: #E6F0F7;
    border-radius: 9px;
    color: #161616;
}

.chatbot-icon{
    margin-left: 10px;
    height: 32px;
    width: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: top;
}

.icon-button{
    display: none;
}

/* 時間関連 */
.time{
    color: #575757;
    font-size: 0.8rem;
    margin: -7px -7px 0px -7px;
    vertical-align: bottom;
}

/* 自分の吹き出し */
#chatbot-ul > li > .name-right {
    position: absolute;
    top: -8px;
    right: 8%;
    font-size: 14px; 
    z-index: 1; /* 要素を手前に表示するために追加 */
}

.chatbot-right{
    margin-top: 20px; /* 適宜調整してください */
    margin-right: 10px;
    background: #30d649;
    text-align: left;
    border-radius: 9px 0 9px 9px;
    color: #161616;
    vertical-align: top;
}

.myIcon{
    margin: -7px -7px 0px -13px;
    vertical-align: top;
}

.myIconImg {
    width: 32px;
    height: 32px;
  }

.myIcon-button{
    display: none;
}

.left{
    text-align: left;
}
.right{
    text-align: right;
}

.choice-title{
    position: absolute;
    width: 100%;
    height: 25px;
    line-height: 25px;
    border-radius: 9px 9px 0 0;
    text-align: center;
    font-size: 15px;
    top: 0;
    left: 0;
    background: #4cc25e;
    color: #161616;
    letter-spacing: .05em;
}

.choice-q{
    margin: 25px 0 .7rem;
    font-size: 15px;
    line-height: 1.3em;
    letter-spacing: .05em;
}

.choice-button{
    cursor:pointer;
    background: #4cc25e;
    color: #1d1d1d;
    border-radius: 3px;
    margin-bottom: 8px;
    text-align: left;
    padding: 7px 13px;
    font-size: 16px;
    line-height: 1.3em;
    letter-spacing: .05em;
    border: none;
    display: block;
    width: 100%;
}

.choice-button:active{
    background: #B8D1E6;
}

.choice-button-disabled{
    background: #B8D1E6;
}

#robot-loading-field{
    display: inline-block;
    height: 100%;
    width: 26px;
    position: relative;
}

#robot-loading-field > span{
    color: #335C80;
    font-size: 10px;
    transform: scale(.7);
    position: absolute;
    top: -12px;
}

#robot-loading-circle1{
    animation: rlc1 .8s linear infinite alternate;
}

@keyframes rlc1{
    0%{
        margin-top: -6px;
    }
    25%{
        margin-top: 0px;
    }
    50%{
        margin-top: 6px;
    }
    75%{
        margin-top: 0px;
    }
    100%{
        margin-top: -6px;
    }
}

#robot-loading-circle2{
    animation: rlc2 .8s linear infinite;
    margin-left: 8px;
}
@keyframes rlc2{
    0% {
        margin-top: 0px;
    }
    25% {
        margin-top: -6px;
    }
    50% {
        margin-top: 0px;
    }
    75% {
        margin-top: 6px;
    }
    100% {
        margin-top: 0px;
    }
}

#robot-loading-circle3{
    animation: rlc3 .8s linear infinite alternate;
    margin-left: 16px;
}
@keyframes rlc3 {
    0% {
        margin-top: 6px;
    }
    25% {
        margin-top: 0px;
    }
    50% {
        margin-top: -6px;
    }
    75% {
        margin-top: 0px;
    }
    100% {
        margin-top: 6px;
    }
}

#chatbot-stampField{
    width: 100%;
    height: 0px;
    background: #FFF;
    display: flex;

}

#stampField-ul{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}

.preStamp{
    display: flex; /* flexbox コンテナにする */
    align-items: center;
    justify-content: center;
    height: 48px; /* 高さを指定 */
    width: 48px; /* 幅を指定 */
    box-sizing: border-box; /* ボーダーとパディングを含めた幅にする */
    margin: 2px; /* 間隔を指定 */
}

.preStamp img{
    height: 32px;
    width: 32px;
}

.stamp{
    margin: 20px -7px 0px -13px
}


.stamp img{
    height: 128px;
    width: 128px;
    object-fit: contain;
    object-position: center;
}

