*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
    box-sizing: border-box;
    background-image: url(../../resource/img/background.png);
    background-size: cover;
    font-family:'Noto Sans JP', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#chatbot{
    position:fixed;
    overflow:hidden;
    opacity:1;
    transition: .4s;
    background: #1d1b1b;
    
    /* PC */
    height: 82vh; 
    width: 500px;
    bottom: 0;
    right: 0;
    margin: 0;
    border-radius: 32px;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    box-sizing: border-box;
    border: 10px solid #4d4d4d;
}

/* 「AI Chatbot」の部分 */
#chatbot-logo{
    color:#FFF;
    line-height: 60px;
    padding:0 30px;
    font-size: 24px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
}

.rotate-animation:hover{
    animation-name: rotate-animation;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    display: inline-block;
  }

@keyframes rotate-animation {
    0% {
        transform: rotateY(0deg);
      }
      100% {
        transform: rotateY(360deg);
      }
  }

#chatbot-back{
    cursor:pointer;
    color: #FFF;
    line-height: 60px;
    position: absolute;
    left: 10px;
}

@keyframes chatbot-back-animation {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(0);
    }
  }

#chatbot-back:hover {
    animation: chatbot-back-animation 1s infinite ease-in-out; /* アニメーションの設定 */
}

#chatbot-setButton{
    cursor:pointer;
    color: #FFF;
    font-size: 32px;
    line-height: 60px;
    position: absolute;
    right: 30px;
    transition: transform 0.3s ease-in-out; /* アニメーションのトランジションを指定 */
}

#chatbot-setButton:hover {
    transform: rotate(180deg) scale(1.2); /* マウスホバー時の回転角度を指定 */
}

.chatbot-header{
    height: 60px;
    position: relative;
    /* display:flex; */
    border-bottom: 0.5px solid;
    border-color: #353d68;
    align-items: center;
    z-index: 1;
}

.chatbot-body{
    white-space: pre-line;
    width: 100%;
    height: calc(80vh - 110px);
    padding-top: 10px;
    box-sizing: border-box;
    /* 横スクロール禁止 */
    overflow-x: hidden;
    /* 縦スクロール禁止 */
    overflow-y: scroll;
}

#chatbot-main{
    position:relative;
}

#chatbot-setting{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #d5dfe5;
    z-index: 2;
}

#setting-header{
    height: 60px;
    border-bottom: 0.5px solid;
    border-color: #353d68;

}

#setting-logo{
    color:#202020;
    line-height: 60px;
    padding:0 30px;
    font-size: 24px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#setting-back{
    cursor:pointer;
    color: #202020;
    line-height: 30px;
    position: absolute;
    left: 10px;
    top: 2%;}

#setting-back:active{
    background: #B8D1E6;
}

#setting-back:hover{
    animation: chatbot-back-animation 1s infinite ease-in-out; /* アニメーションの設定 */
}

#setting-body{
    width: 100%;
    height: 72vh;

}

#setting-ul{
    display: flex;
    position: relative;
    top: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.setting-item{
    cursor:pointer;
    position: relative;
    background: #f0f7fc;
    border-radius: 9px;
    width: 80%;
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 13px;
    margin-bottom: 8px;
}

.setting-right{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-100%, -50%);
    color: #aab2b7;

}

#setting-iconImg {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-300%, -50%);
    width: 23px;
    height: 23px;
    border-radius: 50%;
  }

#setting-namePre{
    position: absolute;
    top: 50%;
    right: 43px;
    transform: translate(-30px, -50%);
}

#setting-slider{
    position: absolute;
    cursor:pointer;
    top: 50%;
    transform: translate(37%, -50%);
    /* スライダーレールの色 */
    --slider-rail-color: #d62f2f;
    /* スライダーハンドルの色 */
    --slider-thumb-color: #c03c3c;
}

#bgm-button{
    display: none;
}

#chatbot-ul{
    /* ulのデフォルトの隙間を消す */
    padding: 0;
    list-style: none;
}

#chatbot-ul > li{
    position: relative;
    width: 100%;
    padding-bottom: 10px;
    word-wrap: break-word;
}

#chatbot-ul > li > div {
    display: inline-block;
    box-sizing: border-box;
    min-height: 23px;
    max-width: 70%;
    padding: 7px 13px;
    line-height: 1.3em;
    position: relative;
}

/* 相手の吹き出しのデザイン */
.chatbot-left{
    display: inline;
    margin-left: 10px;
    background: #E6F0F7;
    border-radius: 0px 9px 9px 9px;
    color:#161616;
    position: relative;

}

.chatbot-left-rounded{
    display: flex;
    margin-left: 10px;
    background: #E6F0F7;
    border-radius: 9px;
    color: #161616;
    justify-content: center;
    align-items: center;
}

.chatbot-left-rounded-size{
    width: 70%;
}

.chatbot-icon{
    margin-left: 10px;
    height: 32px;
    width: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: top;
    transition: transform 0.2s ease-out; 
}

li > .chatbot-icon:hover {
    animation: bounce 1.2s infinite;
  }

@keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50%{
        transform: translateY(0);
    }
    75% {
      transform: translateY(-10px);
    }
  }

.icon-button{
    display: none;
}

/* 時間関連 */
.time{
    color: #000000;
    font-size: 0.8rem;
    margin: -7px -7px 0px -7px;
    vertical-align: bottom;
    text-shadow: 0.2px 0.2px 0px #aeaeae, -0.2px -0.2px 0px #aeaeae, 0.2px -0.2px 0px #aeaeae, -0.2px 0.2px 0px #aeaeae;

}

/* 自分の吹き出し */
#chatbot-ul > li > .name-right {
    text-shadow: 0.6px 0.6px 0px #929292, -0.6px -0.6px 0px #929292, 0.6px -0.6px 0px #929292, -0.6px 0.6px 0px #aeaeae;
    position: absolute;
    top: -8px;
    right: 8%;
    font-size: 14px; 
    z-index: 1; /* 要素を手前に表示するために追加 */
}

.nameInputField{
    border: 0;
    outline: 0;
    font-size: 14px; 
    position: absolute;
    /* top: -8px; */
}

.chatbot-right{
    margin-top: 20px; /* 適宜調整してください */
    margin-right: 10px;
    text-align: left;
    border-radius: 9px 0 9px 9px;
    color: #161616;
    vertical-align: top;
}

.myIcon{
    margin: -7px -7px 0px -13px;
    vertical-align: top;
}

.myIconImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: transform 0.2s ease-out; 
  }

  li > div > .myIconImg:hover {
animation: bounce 1.2s infinite;
}

.myIcon-button{
    display: none;
}

.left{
    text-align: left;
}
.right{
    text-align: right;
}

.choice-title{
    position: absolute;
    width: 100%;
    height: 25px;
    line-height: 25px;
    border-radius: 9px 9px 0 0;
    text-align: center;
    font-size: 15px;
    top: 0;
    left: 0;
    color: #161616;
    letter-spacing: .05em;
}

.choice-q{
    margin: 25px 0 .7rem;
    font-size: 15px;
    line-height: 1.3em;
    letter-spacing: .05em;
}

.choice-button{
    font-family:'Kiwi Maru';
    cursor:pointer;
    color: #1d1d1d;
    border-radius: 3px;
    margin-bottom: 8px;
    text-align: left;
    padding: 7px 13px;
    font-size: 16px;
    line-height: 1.3em;
    letter-spacing: .05em;
    border: none;
    display: block;
    width: 100%;
}

.choice-button:active{
    background: #B8D1E6;
}

.choice-button-disabled{
    background: #B8D1E6;
}

.q-Img{
    width: 80%;
    height:30%;
    margin-left: 10%;
    margin-bottom: 5px;
    border: 2px solid #484848; /* 縁のスタイルを指定 */
    border-radius: 5px; /* 縁の角の丸みを指定 */
}

#chatbot-footer{
    width: 100%;
    height:50px;
    display: flex;
    box-sizing: border-box;
    background: #FFF;
    border-top: 1.5px solid #EEE;
    border-bottom: 2px solid #4242422c;
}
/* 文字を入力する場所 */
#chatbot-text{
    height: 40px;
    width: 72%;
    display: block;
    font-size: 16px;
    box-sizing: border-box;
    padding-left: 10px;
    margin:auto 10px auto 15px;
    background: FFF;
    color: #777;
    border: 0;
    outline: 0;
}

/* スタンプのボタン */
#stamp-submit{
    height: 32px;
    width: 32px;
    margin: 7px 7px;
}

/* 送信ボタン */
#chatbot-submit{
    background:#9c9c9c;
    cursor: pointer;
    height: 35px;
    width: 8%;
    margin: auto;
    margin-right: 15px;
    font-size:28px;
    justify-content: center; /* 水平方向に中央揃え */
    align-items: center; /* 垂直方向に中央揃え */
  
    color: white;
    display: flex;
    /* デフォルトのボーダーを消す */
    border: none;
    box-sizing: border-box;
    border-radius: 18px;
}

#chatbot-stampField{
    width: 100%;
    height: 0px;
    background: #FFF;
    display: flex;

}

#stampField-ul{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}

.preStamp{
    display: flex; /* flexbox コンテナにする */
    align-items: center;
    justify-content: center;
    height: 48px; /* 高さを指定 */
    width: 48px; /* 幅を指定 */
    box-sizing: border-box; /* ボーダーとパディングを含めた幅にする */
    margin: 2px; /* 間隔を指定 */
}

.preStamp img{
    height: 32px;
    width: 32px;
}

.stamp{
    margin: 20px -7px 0px -13px
}

.stamp img{
    height: 128px;
    width: 128px;
    object-fit: contain;
    object-position: center;
}

#robot-loading-field{
    display: inline-block;
    height: 100%;
    width: 26px;
    position: relative;
}

#robot-loading-field > span{
    color: #335C80;
    font-size: 10px;
    transform: scale(.7);
    position: absolute;
    top: -12px;
}

#robot-loading-circle1{
    animation: rlc1 .8s linear infinite alternate;
}

@keyframes rlc1{
    0%{
        margin-top: -6px;
    }
    25%{
        margin-top: 0px;
    }
    50%{
        margin-top: 6px;
    }
    75%{
        margin-top: 0px;
    }
    100%{
        margin-top: -6px;
    }
}

#robot-loading-circle2{
    animation: rlc2 .8s linear infinite;
    margin-left: 8px;
}
@keyframes rlc2{
    0% {
        margin-top: 0px;
    }
    25% {
        margin-top: -6px;
    }
    50% {
        margin-top: 0px;
    }
    75% {
        margin-top: 6px;
    }
    100% {
        margin-top: 0px;
    }
}

#robot-loading-circle3{
    animation: rlc3 .8s linear infinite alternate;
    margin-left: 16px;
}
@keyframes rlc3 {
    0% {
        margin-top: 6px;
    }
    25% {
        margin-top: 0px;
    }
    50% {
        margin-top: -6px;
    }
    75% {
        margin-top: 0px;
    }
    100% {
        margin-top: 6px;
    }
}
